body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/pexels-andreimike-1271619.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-buttons {
  position: absolute;
  left: 1rem;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translateY(-20%);
}
.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}
/* 
.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #a3a1a1, #0f0f0f);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
}

.social-buttons a:hover i {
  background: linear-gradient(45deg, #a3a1a1, #0f0f0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
} */

#cards {
  overflow: scroll;
  height: 500px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
